body{
    background-color: #fec724;
}

.buttondiv{
    display: flex;
    margin-top: 3%;
}

.container{
    border: 5px solid white;
    border-radius: 2%;
    margin: auto;
    margin-top: 2%;
    width: 66%;
    height: 800px;
}

.title{
    text-align: center;
    font-size: 60px;
    color: white;
    text-decoration: overline;
}

#imageShib{
    background-color: #fec724;
    margin: auto;
    width: 66%;
    height: 450px;
    border-radius: 2%;
    background-size: cover;
    background-position: 10%;
    background-image: url('https://s.yimg.com/ny/api/res/1.2/kwUySU9SFW2HWD8YOnO1lQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTM1Mg--/https://media.zenfs.com/en/investorplace_417/6547c6454ca0f10863600fc11f05832d');
}

#randomButton{
    text-align: center;
    font-size: 30px;
    width: 250px;
    height: 50px;
    background-color: white;
    padding-top: 10px;
    margin: auto;
    color: #deb762;
    border-radius: 20px;
    transition-duration: 400ms;
    cursor: pointer;
}

#randomButton:hover{
    width: 252px ;
    height: 52px ;
    padding-top: 15px;
    background-color: #4c5cc6;
    border: 3px solid white;
    color: white;
}

.divscore{
    display: flex;
    width: 7%;
    margin: auto;
    color: white;
}

#reset{
    text-align: center;
    font-size: 30px;
    width: 250px;
    height: 50px;
    background-color: white;
    padding-top: 10px;
    margin: auto;
    color: #deb762;
    border-radius: 20px;
    transition-duration: 400ms;
    cursor: pointer;
}

#reset:hover{
    width: 252px ;
    height: 52px ;
    padding-top: 15px;
    background-color: #e44626;
    border: 3px solid white;
    color: white;
}